/* NAVBAR */
.perfil {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.iconePerfil {
    display: flex;
}

.iconePerfil img {
    height: 60px;
}

/* FRASE */
.fraseEllie {
    height: var(--tamanho-frase);
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

.fraseEllie .container {
    height: calc(var(--tamanho-frase) + var(--tamanho-header));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fraseEllie span {
    color: #0A0F0B;
    font-size: 26px;
}

/* ESCOLHA SEU FINAL */

.final {
    height: calc(var(--tamanho-pagina) + 40vh);
}

.titulo {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.tutorial span {
    font-size: 24px;
}

.final section {
    position: relative;
    display: flex;
    width: 100%;
    height: 700px;
}

.final section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.final section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
}

.final section p {
    transition: 1s ease;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    font-size: 30px;
}

.ellieFinal {
    left: 30%;
}

.abbyFinal {
    right: 30%;
}

#img1:hover + .ellieFinal {
    left: calc(30% + 10%);
    opacity: 1;
}

#img2:hover + .abbyFinal {
    right: calc(30% + 10%);
    opacity: 1;
}

/* FORMULÁRIO */
.questionario {
    height: var(--tamanho-pagina);
    display: flex;
    align-items: center;
}

.questionario .container {
    height: 90%;
    width: 90%;
    border-top: 2px solid rgb(98, 175, 107);
    border-bottom: 2px solid rgb(98, 175, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.questionario .pergunta {
    display: flex;
    align-items: center;
}

.pergunta span {
    text-align: center;
    font-size: 60px;
}

.questionario .botao {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.questionario button {
    width: 90%;
    height: 70px;
    background-color: rgb(98, 175, 107);
}

.questionario button:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: #0A0F0B;
}

/* GRAFICOS E KPI'S */
.dash {
    height: calc(var(--tamanho-pagina) * 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kpi {
    height: 10%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpi span {
    font-size: 40px;
    border-bottom: 2px solid #ffffff;
}


.grafico {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico2 {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interacao {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interacao .kpi {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.interacao .kpi span {
    font-size: 60px;
    border: none;
}

.graficoAlinhado {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.publico {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
.imgRodape {
    height: calc(var(--tamanho-footer) - 20vh);
    background-image: url(../assets/img/rodapeDash.jpg);
}