/* Definições gerais */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Teko:wght@300..700&display=swap');

* {
    scroll-behavior: smooth;
    color: #ffffff;
    scroll-padding-top: 12%;
}

body {
    font-family: 'M PLUS Rounded 1c';
    margin: 0;
    padding: 0;
    background-color: #0A0F0B;
}

:root {
    --tamanho-header: 80px;
    --tamanho-pagina: 90vh;
    --tamanho-frase: 30vh;
    --tamanho-footer: 30vh;
}

h1 {
    font-size: 50px;
}

/* Navbar */
.header {
    height: var(--tamanho-header);
    width: 100%;
    background-color: #0A0F0B;
    position: fixed;
    z-index: 10;
    padding-top: 20px;
}

.navItens {
    font-family: 'Teko';
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;

}

.navItens a:hover {
    transition: 1s;
    text-decoration: underline;
    color: #ffffff;
}

.navItens a {
    font-size: 25px;
    text-decoration: none;
}

.logo {
    width: 60%;
    display: flex;
}

.botoes {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #3D7593;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: #0A0F0B;
}

#botaoLogin {
    background-color: transparent;
    border: 1px solid #ffffff;
}

#botaoLogin:hover {
    color: #2ca6de;
    border: 1px solid #2ca6de;
}

/* PÁGINA INICIAL */
.bannerInicio {
    height: calc(var(--tamanho-pagina) + 10vh);
    background-image: url(../assets/img/bannerIndex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* SOBRE O JOGO */
.cabecalho {
    height: calc(var(--tamanho-header) * 2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko';
}

.bannerSobre {
    height: var(--tamanho-pagina);
    background-image: url(../assets/img/bannerSobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card {
    height: 80%;
    width: 50%;
    background-color: #0A0F0B;
    opacity: 95%;
    padding-left: 35px;
}

.bannerSobre span {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 22px;
}

/* CRIADORES */
.secao_frase {
    height: var(--tamanho-frase);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #ffffff;
}

.secao_frase span, .secao_frase b {
    color: #0A0F0B;
}

/* GAMEPLAY */
.bannerGameplay {
    height: calc(var(--tamanho-pagina) * 2.3);
}

.bannerGameplay .container {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part1 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part3 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    width: 60%;
    text-align: end;
    padding: 20px;
}

.part2 .texto {
    text-align: start;
}

.texto span {
    font-size: 24px;
    line-height: 50px;
}

.imagem {
    height: 100%;
}

.imagem img {
    height: 500px;
    box-shadow: 5px 8px 10px 7px #ffffff06;
}

hr {
    width: 80%;
    align-self: flex-start;
    border: 1px solid white;
    border-radius: 10px;
}

/* ASSISTA AOS TRAILERS */

.trailers {
    height: var(--tamanho-pagina);
    background-image: url(../assets/img/rodapeDash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.trailers .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-left: 2px solid #ffffff;
}

.trailers span {
    font-size: 24px;
}

.yt {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.trailers .container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INFECTADOS */

.bannerInfectados {
    height: var(--tamanho-pagina);
}

.bannerInfectados .container {
    height: 95%;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgInfectados {
    height: 90%;
    width: 80%;
    background-image: url(../assets/img/imgInfectado.webp);
}

.carrossel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.seta {
    font-size: 70px;
    font-weight: 200;
}

.bannerInfectados .card {
    height: 30%;
    width: 80%;
    text-align: center;
}

.bannerInfectados span {
    font-size: 22px;
    text-align: center;
}

/* FOOTER */

.imgRodape {
    height: calc(var(--tamanho-footer) - 20vh);
    background-image: url(../assets/img/imgSobre.jpg);
}

.footer {
    height: var(--tamanho-footer);
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .container {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.compre {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.assista {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.email {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer span {
    font-size: 15px;
}

.direitos .container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direitos span {
    text-align: center;
}

.footer span {
    color: #0A0F0B;
}

.footer h2 {
    color: #0A0F0B;
}

.footer a {
    color: rgb(0, 166, 255);
}