/* Definições gerais */
* {
    scroll-behavior: smooth;
    color: #ffffff;
    scroll-padding-top: 12%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0A0F0B;
}

:root {
    --tamanho-header: 80px;
    --tamanho-pagina: 90vh;
    --tamanho-frase: 30vh;
}

/* Navbar */
.header {
    height: var(--tamanho-header);
    width: 100%;
    background-color: #0A0F0B;
    position: fixed;
    z-index: 10;
    padding-top: 20px;
}

.navItens {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;

}

.navItens a {
    font-size: 22px;
    text-decoration: none;
}

.logo {
    width: 60%;
    display: flex;
}

.botoes {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: #3D7593;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: #ffffff;
    color: #0A0F0B;
}

#botaoLogin {
    background-color: transparent;
    border: 1px solid #ffffff;
}

#botaoLogin:hover {
    color: #2ca6de;
    border: 1px solid #2ca6de;
}

/* PÁGINA INICIAL */
.bannerInicio {
    height: calc(var(--tamanho-pagina) + 10vh);
    background-image: url(../assets/img/bannerIndex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* SOBRE O JOGO */
.cabecalho {
    height: calc(var(--tamanho-header) + 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerSobre {
    height: var(--tamanho-pagina);
    background-image: url(../assets/img/bannerSobre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card {
    height: 80%;
    width: 50%;
    background-color: #0A0F0B;
    opacity: 95%;
    padding-left: 35px;
}

.bannerSobre span {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 26px;
}

.secao_frase {
    height: var(--tamanho-frase);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background-color: #ffffff;
}

.secao_frase span, .secao_frase b {
    color: #0A0F0B;
}

.bannerGameplay {
    height: calc(var(--tamanho-pagina) * 2);
}

.bannerGameplay .container {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part1 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part2 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part3 {
    height: 31%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    width: 60%;
    text-align: end;
    padding: 20px;
}

.part2 .texto {
    text-align: start;
}

.texto span {
    font-size: 26px;
    line-height: 50px;
}

.imagem {
    height: 100%;
}

.imagem img {
    height: 500px;
}